/* Extra values we can use if we decide we need more control in the future */
@property --bg-angle {
  inherits: false;
  initial-value: 0turn;
  syntax: "<angle>";
}
@-webkit-keyframes gradient-spin {
  to {
    --bg-angle: 1turn;
  }
}
@keyframes gradient-spin {
  to {
    --bg-angle: 1turn;
  }
}
:export {
  --theme-default: Dark;
  --theme-dark: Dark;
  --theme-light: Light;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.fullpage {
  padding-bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fullpage .main-header {
  min-width: 0;
}
.fullpage .mobile-action-button {
  display: block;
  width: 48%;
  float: left;
  text-align: center;
  margin: 0 4% 10px 0;
}
.fullpage .mobile-action-button:nth-child(even) {
  margin-right: 0;
}
.fullpage .jump-view {
  width: 48%;
  margin: 0 4% 10px 0;
  float: left;
}
.fullpage .jump-view:nth-child(even) {
  margin-right: 0;
}
.fullpage .jump-view:nth-child(3) {
  display: none;
}
.fullpage .jump-label {
  display: block;
}

.oldie-header {
  display: none;
  padding: 5px;
  background: var(--cp-color-20);
  color: var(--cp-color-1);
}
html.oldie .oldie-header {
  display: block;
}

html.oldie .main-header {
  display: none;
}

#result-iframe-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.oldie #result-iframe-wrap {
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  height: 100%;
  height: calc(100% - 32px);
}

#result {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 550px) {
  @supports (height: 100svh) {
    #result {
      height: calc(100svh - var(--cp-header-height-small));
    }
  }
}

#pen-ad {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
